/*main.css for FSO-ADAPTER-SMEV*/

/*FONTS*/
/* SF Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url('fonts/SF-UI-Display-Light.otf');
}
/*./ SF Light */
/*./FONTS*/

/******************************/
body {
    background-color: #E9E9E9;
    font-family: "SF Display";
}

.jumbotron.all {
    margin: 0;
}

.wrapper-header {
    background-color: #F7F7F7;
    border-radius: 10px 10px 0 0;
}

.wrapper-header.container-fluid {
    padding: 0;
}

.wrapper-content {
    background-color: #F7F7F7;
    border-radius: 0 0 10px 10px;
}

.wrapper-header, .wrapper-content {
    margin: 0 11.95%;
}

@media (max-width: 768px) {
    .wrapper-header, .wrapper-content {
        margin: 0 1%;
    }
}

/*HEADER*/
.navbar {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.navbar-brand {
  height: 65px;
}

.navbar-header img {
    width: 2.4em;
    margin-left: 50px;
}

.navbar-header h1 {
    font-size: 0.86em;
    line-height: 1.35em;
}

.navbar-header h1 > span {
    font-size: 1.03em;
}

.navbar-toggle {
    border: 1px solid #6AA2EF;
}

.navbar-toggle span.icon-bar {
    background-color: #6AA2EF;
}

.navbar-collapse {
    height: 65px;
    position: relative;
}

.navbar-nav > li > a {
    line-height: 36px;
    font-size: 0.82em;
}

.header-submenu {
    height: 65px;
    line-height: 65px;
}

.navbar-collapse a {
    color: gray;
}

.nav > li > a:focus, 
.nav > li > a:hover {
    background-color: #fff;
}

.navbar-collapse li.active a {
    color: #337ab7;
}

.navbar-collapse a.dashboard-button:before {
    content: "";
    display: inline-block;
    background-image: url(../img/dashboard-logo-gray.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 21px;
    left: 10px;
    width: 22px;
    height: 23px;
}

.navbar-collapse li.active a.dashboard-button:before {
    background-image: url(../img/dashboard-logo-BLUE.png);
}

.navbar-collapse a.register-button:before {
    content: "";
    display: inline-block;
    background-image: url(../img/register-logo-GRAY.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 24px;
    left: 18px;
    width: 22px;
    height: 23px;
}

.navbar-collapse li.active a.register-button:before {
    background-image: url(../img/register-logo-blue.png);
}

.header-submenu ul > li {
    margin-left: 55px;
}

.print-button {
  position: relative;
  left: 1px;
}

.print-button img {
    width: 25px;
}

/*for mobile*/
@media (max-width: 768px) {
    .navbar-header img {
        width: 40px;
        margin-left: 0;
    }

    .navbar-brand {
        height: 50px;
    }
}
/*./for mobile*/

/*for desktop*/
@media (min-width: 768px) {
    .navbar-collapse {
        position: relative;
        left: -60px;
    }

    .navbar-nav > li > a {
        padding: 15px 55px;
    }
}
/*./for desktop*/

@media (max-width: 1670px) {
    .navbar-header img {
        width: 1.8em;
    }

    .navbar-header h1 {
        font-size: 0.59em;
    }

    .list-inline {
        margin-left: -55px;
    }
}

@media (max-width: 1290px) {
    .navbar-header img {
        margin-left: 0px;
    }

    .navbar-nav > li > a {
        padding: 15px 45px;
    }

    .list-inline {
        margin-left: -85px;
    }
}
/*./HEADER*/

/*CONTENT-ALL*/
/*CONTENT~REGISTER*/
.register-form-search {
    margin-bottom: 15px;
}

.register-form-search .error-message {
    padding: 0 0 10px 0;
}

.register-form-search .error-message span {
    color: red;
}

.register-form-select-wrapper {
    width: 46%;
}

.register-form-input-wrapper {
    width: 54%;
    position: relative;
}

.register-form-select-wrapper {
    float: left;
}

.register-form-select-wrapper select {
  width: 100%;
  font-size: 0.9em;
  line-height: 22px;
  height: 22px;
  border-width: 0px;
  padding-left: 5px;
}

.register-form-input-wrapper {
    float: right;
}

.register-form-input-wrapper input {
    font-size: 1.0em;
    line-height: 21px;
    border-width: 0px;
    height: 22px;
    margin-left: 3px;
    padding-left: 5px;
}

.register-form-input-wrapper input[type='text'] {
    width: 83%;
}

.register-form-input-wrapper input[type='submit'] {
    width: 7%;
    background-image: url(../img/search-button-icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 2px;
    background-color: #F7F7F7;
    color: transparent;
}

.register-table-settings-button {
    margin-bottom: 9px;
    padding-left: 20px;
    border-width: 0;
    background-color: transparent;
    color: #1E75EE;
    background-image: url(../img/settings-logo.png);
    background-repeat: no-repeat;
    background-size: 14%;
    background-position: 2px 5px;
}

.register-table-settings-content {
    height: 190px;
    margin-bottom: 10px;
}

.register-table-settings .select-column-wrapper {
    width: 37%;
    background-color: #F7F7F7;
    float: left;
}

.register-table-settings .select-column-wrapper span {
    font-size: 0.65em;
}

.register-table-settings .select-column-wrapper select {
    width: 100%;
    border-bottom: 1px solid #6AA2EF;
}

/*select scrollbar customize*/
.register-table-settings .select-column-wrapper select::-webkit-scrollbar {
    background-color: #F1F1F1;
}

.register-table-settings .select-column-wrapper select::-webkit-scrollbar-thumb {
    background: #6AA2EF; 
    width: 90%;
}

.register-table-settings .select-column-wrapper select::-webkit-scrollbar-button:vertical:decrement{
    background-image: url(../img/scrollbar-arrow-up-blue.png), -webkit-linear-gradient(left,  #F1F1F1 50%,#F1F1F1 100%) ;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 2px 5px, 0 0;
}
.register-table-settings .select-column-wrapper select::-webkit-scrollbar-button:vertical:increment{
    background-image: url(../img/scrollbar-arrow-down-blue.png), -webkit-linear-gradient(left,  #F1F1F1 50%,#F1F1F1 100%) ;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 2px 5px, 0 0;
}
/*./select scrollbar customize*/

.register-table-settings .select-column-wrapper option {
    min-height: 2.07em;
    border-bottom: 1px solid #6AA2EF;
    font-size: 0.7em;
    padding-left: 7px;
    padding-top: 1.5%;
}

.register-table-settings .select-column-wrapper option:focus {
   background-color: #6AA2EF !important;
   color: #fff;
}

/*trick to vertical align-middle buttons*/
.register-table-settings .buttons-column-wrapper {
    width: 11%;
    background-color: #F7F7F7;
    float: left;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

.register-table-settings .buttons-column-wrapper 
.buttons-centervertical-wrapper {
    display: inline-block;
}

.register-table-settings .buttons-column-wrapper button {
    display: table;
    text-align: center;
    margin: 25px 0;
    vertical-align: middle;
}

.register-table-settings .buttons-column-wrapper.narrow-column button {
    margin: 5px 0;
}
/*./trick to vertical align-middle buttons*/

/*trick to vertical align-bottom buttons*/

.register-table-settings .submit-settings-wrapper {
    background-color: #F7F7F7;
    width: 100px;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.register-table-settings .submit-settings-wrapper 
.buttons-bottomvertical-wrapper {
    display: inline-block;
}

.register-table-settings .submit-settings-wrapper input {
    display: table;
    text-align: center;
    margin: 0;
    vertical-align: bottom;
}
/*./trick to vertical align-bottom buttons*/

.register-table-settings .buttons-column-wrapper button,
.register-table-settings .submit-settings-wrapper input {
    border: 0px solid #6AA2EF;
    background-color: #F7F7F7;
    color: #F7F7F7;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 22px;
    height: 22px;
}

.register-table-settings .submit-settings-wrapper input {
    border: 1px solid #6AA2EF;
    border-radius: 4px;
}

.register-table-settings .submit-settings-wrapper input {
    width: 77px;
    height: 22px;
    color: #6AA2EF;
    position: relative;
    top: -20px;
    left: 8px;
    font-size: 0.6em;
}

@media (max-width: 1670px) {
    .register-table-settings .submit-settings-wrapper input {
        width: 57px;
    }
}

.register-table-settings .buttons-column-wrapper button.button-move-right {
    background-image: url(../img/box-arrow-right-gray.png);
}

.register-table-settings .buttons-column-wrapper button.button-move-right.active,
.register-table-settings .buttons-column-wrapper button.button-move-right:hover {
    background-image: url(../img/box-arrow-right-blue.png);
}

.register-table-settings .buttons-column-wrapper button.button-move-left {
    background-image: url(../img/box-arrow-left-gray.png);
}

.register-table-settings .buttons-column-wrapper button.button-move-left.active,
.register-table-settings .buttons-column-wrapper button.button-move-left:hover {
    background-image: url(../img/box-arrow-left-blue.png);
}

.register-table-settings .buttons-column-wrapper.narrow-column {
    width: 6%;
}


.register-table-settings 
.buttons-column-wrapper.narrow-column button.button-move-top {
    background-image: url(../img/box-arrow-up-double-gray.png);
    background-size: 100%;
}

.register-table-settings 
.buttons-column-wrapper.narrow-column button.button-move-top.active,
.buttons-column-wrapper.narrow-column button.button-move-top:hover {
    background-image: url(../img/box-arrow-up-double-blue.png);
    background-size: 100%;
}

.register-table-settings 
.buttons-column-wrapper.narrow-column button.button-move-up {
    background-image: url(../img/box-arrow-up-gray.png);
    background-size: 100%;
}

.register-table-settings 
.buttons-column-wrapper.narrow-column button.button-move-up.active,
.buttons-column-wrapper.narrow-column button.button-move-up:hover {
    background-image: url(../img/box-arrow-up-blue.png);
    background-size: 100%;
}

.register-table-settings 
.buttons-column-wrapper.narrow-column button.button-move-down {
    background-image: url(../img/box-arrow-down-gray.png);
    background-size: 100%;
}

.register-table-settings 
.buttons-column-wrapper.narrow-column button.button-move-down.active,
.buttons-column-wrapper.narrow-column button.button-move-down:hover {
    background-image: url(../img/box-arrow-down-blue.png);
    background-size: 100%;
}

.register-table-settings 
.buttons-column-wrapper.narrow-column button.button-move-bottom {
    background-image: url(../img/box-arrow-down-double-gray.png);
    background-size: 100%;
}

.register-table-settings 
.buttons-column-wrapper.narrow-column button.button-move-bottom.active,
.buttons-column-wrapper.narrow-column button.button-move-bottom:hover {
    background-image: url(../img/box-arrow-down-double-blue.png);
    background-size: 100%;
}

.register-table-settings .submit-settings-wrapper {
    width: 9%;
    background-color: #F7F7F7;
    float: right;
}

.register-table {
    padding: 0 10px 10px;
}

.register-table-wrapper {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0 0;
    overflow-x: scroll;
}

.register-table-wrapper::-webkit-scrollbar { 
    display: none; 
}

/*table size adjusting*/
.register-table-wrapper table {
    border-width: 0px;
    margin-bottom: 0px;
}

.register-table-wrapper table > thead > tr > th {
    font-size: 0.7em;
    padding-left: 5px;
    padding-right: 5px;
    height: 50px;
    background-color: #fff;
    vertical-align: middle;
}

.register-table-wrapper table > thead > tr > th:first-child {
    border-radius: 10px 0 0 0;
}

.register-table-wrapper table > thead > tr > th:last-child {
    border-radius: 0 10px 0 0;
}

.register-table-wrapper table > tbody > tr > td {
    font-size: 0.7em;
    line-height: 2.0em;
    height: 36px;
}
/*./table size adjusting*/

/*table colouring*/
.register-table-wrapper table > tbody > tr:nth-child(odd) {
    background-color: #F0F0F0;
}

.register-table-wrapper table > tbody > tr:nth-child(even) {
    background-color: #E5E5E5;
}

.register-table-wrapper table > tbody > tr.active > td {
    background-color: #7FB1F5;
}

.register-table-wrapper table > tbody > tr > td.number,
.register-table-wrapper table > tbody > tr > td.error-source {
    color: #5C8BEE;
}
/*table colouring*/

/*table borders customization*/
.register-table-wrapper table > thead > tr > th,
.register-table-wrapper table > tbody > tr > td {
    border-left: 0px solid red;
    border-right: 1px solid #DCDCDC; /*right border is visible only*/
    border-top: 0px solid red;
    border-bottom: 0px solid red;
}

.register-table-wrapper table > thead > tr > th:last-child,
.register-table-wrapper table > tbody > tr > td:last-child {
    border-right: 0px solid red;
}
/*./table borders customization*/

/*table-header sorting arrows aligning*/
.register-table-wrapper table > thead > tr > th {
    position: relative;
}

.register-table-wrapper table > thead > tr > th a {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.register-table-wrapper table > thead > tr > th img {
    width: 17px;
    vertical-align: middle;
}
/*./table-header sorting arrows aligning*/

/*table-header sorting arrows effects on active*/
.register-table-wrapper div.sorting-list-arrows {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    background-image: url(../img/table-header-arrows-up-down-gray.png);
    background-size: 100%;
}

.register-table-wrapper div.sorting-list-arrows:hover {
    cursor: pointer;
}

.register-table-wrapper div.sorting-list-arrows.active {
    background-image: url(../img/table-header-arrows-up-down-blue.png);
}
/*./table-header sorting arrows effects on active*/

.pagination-wrapper {
    margin-bottom: 20px;
}

.pagination-wrapper .pagination {
    margin: 5px 0;
}

.pagination-wrapper .pagination a {
    font-size: 0.65em;
}

.pagination-wrapper .entries-per-page {
    margin: 10px 0;
    padding-right: 30px;
}

.pagination-wrapper .entries-per-page li {
    padding-right: 3px;
    padding-left: 3px;
}

.pagination-wrapper .entries-per-page span {
    font-size: 0.81em;
    margin-right: 27px;
}

.pagination-wrapper .entries-per-page a {
    font-size: 0.80em;
}

.register-sending-requests.widget-wrapper {
    height: 40px;
}

.register-sending-requests.widget-wrapper .sending-requests-form-section p {
    line-height: 1.6em;
}

.register-sending-requests.widget-wrapper input.settings-submit {
    width: 85px;
    height: 22px;
    color: #6AA2EF;
    background-color: #fff;
    position: relative;
    top: -3px;
    right: -20px;
    font-size: 0.6em;
    border: 1px solid #6AA2EF;
    border-radius: 4px;
    padding-left: 5px;
}

@media only screen and (min-width: 1270px) and (max-width: 1349px) {
    .register-sending-requests.widget-wrapper input.settings-submit {
        right: 5px;
    } 
}

@media only screen and (min-width: 1350px) and (max-width: 1429px) {
    .register-sending-requests.widget-wrapper input.settings-submit {
        right: 0px;
    }
}

@media only screen and (min-width: 1430px) and (max-width: 1529px) {
    .register-sending-requests.widget-wrapper input.settings-submit {
        right: -2px;
    }
}

@media only screen and (min-width: 1530px) and (max-width: 1589px) {
    .register-sending-requests.widget-wrapper input.settings-submit {
        right: -5px;
    }
}

@media only screen and (min-width: 1590px) and (max-width: 1669px) {
    .register-sending-requests.widget-wrapper input.settings-submit {
        right: -5px;
    }
}

@media only screen and (min-width: 1670px) and (max-width: 1909px) {
    .register-sending-requests.widget-wrapper input.settings-submit {
        right: -10px;
    } 
}

@media only screen and (min-width: 2550px) and (max-width: 3829px) {
    .register-sending-requests.widget-wrapper input.settings-submit {
        right: -25px;
        width: 90px;
    }
}

@media only screen and (min-width: 3830px) {
    .register-sending-requests.widget-wrapper input.settings-submit {
        right: -15px;
        width: 90px;
    }
}

@media print {
    .register-form-search .error-message span,
    .register-table-settings-button,
    .register-form-input-wrapper input[type='submit'],
    .register-sending-requests.widget-wrapper input.settings-submit,
    .pagination-wrapper {
        display: none;
    }

    .register-table {
        margin-top: 30px;
    }
}
/*./CONTENT~REGISTER*/

/*CONTENT~DASHBOARD*/
.dashboard-widgets {
    padding: 20px 10px;
}

.widget-wrapper {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 19px;
    height: 365px;
    padding: 5px 10px;
    position: relative;
    -webkit-print-color-adjust: exact;
}

.widget-wrapper.widget-bottom-panel {
    min-height: 90px;
    margin-bottom: 25px;
}

.widget-wrapper .sending-requests-form-section {
    position: relative;
    z-index: 1;
    padding-top: 5px;
}

.widget-wrapper .sending-requests-form-section p {
    font-size: 0.82em;
    line-height: 1.3em;
}

.widget-wrapper .sending-requests-form-section input {
    width: 100%;
    position: relative;
    z-index: 2;
    font-size: 0.72em;
    height: 20px;
    margin-left: 15px;
    padding-left: 15px;
    border-width: 0px;
    background-color: #F2F2F2;
}

.widget-wrapper .sending-requests-form-section .form-group {
    position: relative;
}

.widget-wrapper .sending-requests-form-section .form-group span {
    position: absolute;
    left: 15px;
    top: 1px;
    font-size: 0.82em;
}

.widget-wrapper .sending-requests-form-section .form-group span.from {
    left: 15px;
}

.widget-wrapper .sending-requests-form-section .form-group span.to {
    left: 10px;
}

@media only screen and (max-width: 1370px) {
    .widget-wrapper .sending-requests-form-section div:first-child {
        padding-left: 0px;
    }

    .widget-wrapper .sending-requests-form-section .form-group {
        padding-right: 8px;
    }

    .widget-wrapper .sending-requests-form-section input {
        width: 100%;
        position: relative;
        z-index: 2;
        font-size: 0.55em;
        height: 20px;
        margin-left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        border-width: 0px;
        background-color: #F2F2F2;
    }
}

@media only screen and (min-width: 1371px) and (max-width: 1540px) {
    .widget-wrapper .sending-requests-form-section .form-group {
        padding-right: 10px;
    }

    .widget-wrapper .sending-requests-form-section input {
        width: 100%;
        position: relative;
        z-index: 2;
        font-size: 0.65em;
        height: 20px;
        margin-left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        border-width: 0px;
        background-color: #F2F2F2;
    }
}

@media only screen and (min-width: 1541px) and (max-width: 1690px){
    .widget-wrapper .sending-requests-form-section .form-group {
        padding-right: 15px;
    }

    .widget-wrapper .sending-requests-form-section input {
        width: 100%;
        position: relative;
        z-index: 2;
        font-size: 0.72em;
        height: 20px;
        margin-left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        border-width: 0px;
        background-color: #F2F2F2;
    }
}

/*widget-common*/
.widget-wrapper.widget-common.widget-common-form {
    height: 80px;
}

.widget-wrapper.widget-common.widget-common-form input.settings-submit {
    width: 85px;
    height: 22px;
    color: #6AA2EF;
    background-color: #fff;
    background-image: none;
    position: relative;
    top: -3px;
    left: 0px;
    font-size: 0.6em;
    border: 1px solid #6AA2EF;
    border-radius: 4px;
    padding-left: 5px;
}

.widget-wrapper.widget-common .data-wrapper {
    margin-top: 40px;
    height: 285px;
}

.widget-wrapper.widget-common .widget-footer .form-group {
    position: relative;
    z-index: 2;
    bottom: 15px;
    margin-bottom: 5px;
    height: 24px;
}

.widget-wrapper.widget-common .widget-footer input.settings-checkbox-submit {
    width: 22px;
    height: 23px;
    background-image: url(../img/box-checkbox.png);
    background-size: 100%;
    background-position: 0px 0px;
    position: relative;
    top: -1px;
    right: 25px;
}

.col-md-8 .widget-wrapper.widget-common .widget-footer input.settings-checkbox-submit {
    top: -1px;
    right: 25px;
}

.widget-wrapper.widget-common .widget-footer input.settings-update-submit {
    top: -6px;
    right: 15px;
}

.col-md-8 .widget-wrapper.widget-common .widget-footer input.settings-update-submit {
    top: -6px;
    right: 15px;
}

.widget-wrapper.widget-common .widget-footer span {
    position: relative;
    top: -7px;
    right: 10px;
}

.col-md-8 .widget-wrapper.widget-common .widget-footer span {
    top: -7px;
    right: 10px;
}

@media only screen and (min-width: 1270px) and (max-width: 1349px) {
    .widget-wrapper.widget-common .widget-footer input.settings-checkbox-submit {
        top: -2px;
        right: 30px;
    }

    .widget-wrapper.widget-common .widget-footer input.settings-update-submit {
        top: -6px;
        right: 25px;
    }

    .widget-wrapper.widget-common .widget-footer span {
        top: -28px;
        right: -7px;
    }

    .col-md-8 .widget-wrapper.widget-common .widget-footer input.settings-update-submit {
        top: -6px;
        right: 20px;
    }

    .col-md-8 .widget-wrapper.widget-common .widget-footer span {
        top: -7px;
        right: 15px;
    }
}

@media only screen and (min-width: 1350px) and (max-width: 1429px) {
    .widget-wrapper.widget-common .widget-footer input.settings-checkbox-submit {
        top: -2px;
        right: 35px;
    }

    .widget-wrapper.widget-common .widget-footer input.settings-update-submit {
        top: -7px;
        right: 30px;
    }

    .widget-wrapper.widget-common .widget-footer span {
        top: -28px;
        right: 0px;
    }

    .col-md-8 .widget-wrapper.widget-common .widget-footer span {
        top: -7px;
    }
}

@media only screen and (min-width: 1430px) and (max-width: 1529px) {
    .widget-wrapper.widget-common .widget-footer input.settings-checkbox-submit {
        top: -2px;
        right: 15px;
    }

    .widget-wrapper.widget-common .widget-footer input.settings-update-submit {
        top: -7px;
        right: 10px;
    }

    .widget-wrapper.widget-common .widget-footer span {
        top: -8px;
        right: 10px;
    }

    .col-md-8 .widget-wrapper.widget-common .widget-footer span {
        top: -7px;
    }
}

@media only screen and (min-width: 1530px) and (max-width: 1589px) {
    .widget-wrapper.widget-common .widget-footer input.settings-checkbox-submit {
        top: -2px;
        right: 10px;
    }

    .widget-wrapper.widget-common .widget-footer input.settings-update-submit {
        top: -5px;
        right: 3px;
    }

    .widget-wrapper.widget-common .widget-footer span {
        top: -6px;
        right: 2px;
    }
}

@media only screen and (min-width: 1590px) and (max-width: 1669px) {
    .widget-wrapper.widget-common .widget-footer input.settings-checkbox-submit {
        top: -2px;
        right: 17px;
    }

    .widget-wrapper.widget-common .widget-footer input.settings-update-submit {
        top: -5px;
        right: 5px;
    }

    .widget-wrapper.widget-common .widget-footer span {
        top: -6px;
        right: 4px;
    }
}

@media only screen and (min-width: 1670px) and (max-width: 1909px) {
    .widget-wrapper.widget-common .widget-footer input.settings-checkbox-submit {
        top: -2px;
        right: 17px;
    }

    .widget-wrapper.widget-common .widget-footer input.settings-update-submit {
        top: -5px;
        right: 5px;
    }

    .widget-wrapper.widget-common .widget-footer span {
        top: -6px;
        right: 4px;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 3829px) {
    .col-md-4 .widget-wrapper.widget-common .widget-footer span {
        top: -7px;
        right: 10px;
    }  
}

@media only screen and (min-width: 3830px) {
    .col-md-4 .widget-wrapper.widget-common .widget-footer span {
        top: -7px;
        right: 10px;
    }  
}
/*./widget-common*/

/*widget-log-upload-form*/
.widget-wrapper.widget-common.widget-common-form.widget-log-upload-form {
    height: 125px;
}


.widget-wrapper.widget-common.widget-common-form.widget-log-upload-progress-bar {
    height: 80px;
}

.widget-wrapper.widget-log-upload-form .sending-requests-form-section .form-group {
    margin-bottom: 5px;
}

.widget-wrapper.widget-log-upload-form .sending-requests-form-section input[type="file"] {
    padding-left: 0;
    margin-left: 0;
    background-color: #fff;
    height: auto;
    font-size: 0.62em;
}

.widget-wrapper.widget-log-upload-form .sending-requests-form-section 
input[type="file"]::-webkit-file-upload-button {
    background: #fff;
    color: #6AA2EF;
    padding: 0.5em 1.2em;
    border: 1px solid #6AA2EF;
    border-radius: 4px;
}

.widget-wrapper.widget-log-upload-form .sending-requests-form-section 
input[type="file"]::-webkit-file-upload-button:focus {
    outline: 0px;
}

.widget-wrapper.widget-log-upload-form .sending-requests-form-section 
input[type="file"]:focus {
    outline: 0px;
}

.widget-wrapper.widget-log-upload-form .sending-requests-form-section p > span {
    color: gray;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 0.95em;
}

.widget-wrapper.widget-log-upload-form .widget-footer .form-group {
    left: 15px;
}

.widget-wrapper.widget-log-upload-form .widget-footer .form-group 
input[type="submit"] {
    width: 88px;
    background-color: #6AA2EF;
    color: #fff;
}

.widget-wrapper.widget-log-upload-progress-bar .sending-requests-form-section 
.progress-bar-body {
    background: #BDBDBD;
    width: 50%;
    border-radius: 4px;
}

.widget-wrapper.widget-log-upload-progress-bar .sending-requests-form-section 
.progress-bar-width {
    background: #6AA2EF; 
    width: 30%; 
    height: 20px;
    border-radius: 4px;
}
/*./widget-log-upload-form*/

/*pie-chart widget*/
.widget-wrapper .pie-chart-wrapper {
    margin-top: 55px;
}

.widget-wrapper .pie-chart-wrapper img {
    width: 73%;
} 
/*./pie-chart widget*/

/*table widget*/
.widget-wrapper .table-wrapper {
    height: 325px;
    width: 100%;
    overflow-y: scroll;
}

    /* width */
.widget-wrapper .table-wrapper.trick-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

    /* Track */
.widget-wrapper .table-wrapper.trick-scrollbar::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);*/
    background-color: #F5F5F5;
}
 
    /* Handle */
.widget-wrapper .table-wrapper.trick-scrollbar::-webkit-scrollbar-thumb {
    background-color: #7FB1F5; 
}

.widget-wrapper.widget-table .sending-requests-form-section p {
    margin-bottom: 5px;
}

.widget-wrapper.widget-table .thead-mask {
    padding-top: 20px;
}

.widget-wrapper.widget-table .thead-mask .tr-mask {
    padding-top: 2px;
}

.widget-wrapper.widget-table .thead-mask .tr-mask .th-mask {
    background-color: #F7F7F7;
    border-radius: 3px;
    margin: 2px 2px;
}

.widget-wrapper.widget-table .thead-mask .tr-mask .th-mask.trick-float-left {
    width: 88px;
    height: 100%;
    padding: 2px 6px;
    font-size: 0.85em;
    font-weight: bold;
}

.widget-wrapper.widget-table .thead-mask .tr-mask .th-mask.submask {
    width: calc(100%-100px);
    margin-left: 100px;
    background-color: #F7F7F7;
}

.widget-wrapper.widget-table .sending-requests-form-section .form-group,
.widget-wrapper.widget-table .sending-requests-form-section .col-md-4  {
    display: none;
}

.widget-wrapper.widget-table .widget-footer {
    display: none;
}

.widget-wrapper .table-wrapper table {
    font-size: 0.66em;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.widget-wrapper .table-wrapper th:first-child,
.widget-wrapper .table-wrapper td:first-child {
    width: 92px;
}

.widget-wrapper .table-wrapper th {
    background-color: #F7F7F7;
    margin: 0 5px 5px 0;
    padding: 5px 5px 0px 6px;
    font-size: 1.25em;
    border: 4px solid #fff;
    border-radius: 10px;
    overflow: hidden;
}

.widget-wrapper .table-wrapper td {
    background-color: #F7F7F7;
    margin: 0 5px 5px 0;
    padding: 5px 5px 3px 6px;
    border: 4px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: top;
}

.widget-wrapper .table-wrapper tr.error-data td {
    background-color: #FD6347;
}

.widget-wrapper .table-wrapper td  > span {
    color: #C1A681;
}

.widget-wrapper .table-wrapper td.error-data  > span {
    color: yellow;
}
/*./table widget*/

/*column-chart-3d-widget*/
.widget-wrapper .query-processing-time-wrapper img {
    width: 67%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.widget-wrapper .number-responses-wo-data-wrapper img {
    width: 73%;
    margin-top: 35px;
    margin-left: 10px;
}

.widget-wrapper .error-source-wrapper img {
    width: 90%;
    margin-top: 40px;
    margin-left: 10px;
}

.widget-wrapper .ratio-request-response-error-wrapper img {
    width: 93%;
    margin-top: 10px;
    margin-left: 5px;
}
/*./column-chart-3d-widget*/

/*line-chart-widget*/
.widget-wrapper .sending-requests-wrapper img {
    width: 90%;
    margin-top: 0px;
    margin-left: 10px;
}

/* SWITCHED OFF TO FIX widget-footer submit POSITIONING
.widget-wrapper.widget-sending-requests .widget-footer {
    position: relative;
    margin-top: 0;
}

.widget-wrapper.widget-sending-requests .widget-footer .form-group {
    position: relative;
    top: -28px;
    margin-bottom: 0;
}

/*./line-chart-widget*/

/*control-panel*/
.widget-wrapper.widget-control-panel .control-panel-wrapper {
    margin-top: 38px;
}

.widget-wrapper.widget-control-panel p {
    margin-top: -32px;
}

.widget-wrapper.widget-control-panel p {
    font-size: 0.82em;
    line-height: 1.3em;
}

.widget-wrapper.widget-control-panel .control-panel-wrapper ul {
    list-style: none;
    padding-left: 10px;
}

.widget-wrapper.widget-control-panel .control-panel-wrapper li {
    font-size: 0.9em;
    line-height: 1.91em;
}

@media only screen and (min-width: 1270px) and (max-width: 1349px) {
    .widget-wrapper.widget-control-panel .control-panel-wrapper li {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 1350px) and (max-width: 1429px) {
    .widget-wrapper.widget-control-panel .control-panel-wrapper li {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 1430px) and (max-width: 1529px) {
    .widget-wrapper.widget-control-panel .control-panel-wrapper li {
        font-size: 0.8em;
    }
}

@media only screen and (min-width: 1530px) and (max-width: 1589px) {

}

@media only screen and (min-width: 1590px) and (max-width: 1669px) {

}

@media only screen and (min-width: 1670px) and (max-width: 1909px) {

}

@media only screen and (min-width: 2550px) and (max-width: 3829px) {

}

@media only screen and (min-width: 3830px) {

}

.widget-wrapper.widget-control-panel .control-panel-wrapper 
li > span {
    display: inline-block;
    position: relative;
    top: 5px;
    background-repeat: no-repeat;
    background-size: 100% !important;
    width: 13px;
    height: 19px;
    margin-right: 10px;
}

.widget-wrapper.widget-control-panel .control-panel-wrapper 
li > span.success {
    background-image: url(../img/control-panel-mark-green.png) !important;
}

.widget-wrapper.widget-control-panel .control-panel-wrapper 
li > span.warning {
    background-image: url(../img/control-panel-mark-orange.png) !important;
}

.widget-wrapper.widget-control-panel .control-panel-wrapper 
li > span.error {
    background-image: url(../img/control-panel-mark-red.png) !important;
}
/*./control-panel*/

.widget-wrapper .widget-footer .form-group {
    position: absolute;
    bottom: 0px;
    left: 10px;
    margin-bottom: 5px;
}

.widget-wrapper.widget-table .widget-footer {
    margin-top: 3px;
}

.widget-wrapper .widget-footer input[type='submit'] {
    position: relative;
    width: 16px;
    background-image: url(../img/refresh-arrows-blue.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 2px;
    background-color: #fff;
    color: transparent;
    border-width: 0px;
}

.widget-wrapper .widget-footer span {
    font-size: 0.82em;
    margin-left: 8px;
}

/*widget-spinner*/
.widget-wrapper img.spinner {
    width: 40%;
}

.widget-wrapper .query-processing-time-wrapper img.spinner {
    margin-top: 20px;
    margin-left: -145px;
}

.widget-wrapper .number-responses-wo-data-wrapper img.spinner {
    margin-top: 20px;
    margin-left: -15px;
}

.widget-wrapper .sending-requests-wrapper img.spinner {
    margin-top: 20px;
    margin-left: 30%;
}

.widget-wrapper .error-source-wrapper img.spinner {
    margin-top: 20px;
    margin-left: 130px;
}

.widget-wrapper .ratio-request-response-error-wrapper img.spinner {
    margin-top: 20px;
    margin-left: -15px;
}
/*./widget-spinner*/

/*widget-js/css-spinner*/
.spinner-wrapper {
    position: relative;
    top: 115px;
    left: 45%;
}

.widget-wrapper .query-processing-time-wrapper .spinner-wrapper {
    margin-top: 20px;
    margin-left: -145px;
    left: 12%;
}

.widget-wrapper .number-responses-wo-data-wrapper .spinner-wrapper {
    margin-top: 20px;
    margin-left: -15px;
    left: 12%;
}

.widget-wrapper .sending-requests-wrapper .spinner-wrapper {
    margin-top: 20px;
    margin-left: 30%;
    left: 12%;
}

.widget-wrapper .error-source-wrapper .spinner-wrapper {
    margin-top: 20px;
    margin-left: 130px;
    left: 12%;
}

.widget-wrapper .ratio-request-response-error-wrapper .spinner-wrapper {
    margin-top: 20px;
    margin-left: -15px;
    left: 12%;
}



#spinner-wrapper{
    margin-top: 0px;
    float: left;
}

.spinner_block{
    background-color: lightgray;
    border:2px solid #337ab7;
    float:left;
    height:30px;
    margin-left:5px;
    width:8px;
        opacity:0.1;
    -webkit-transform:scale(0.7);
    -webkit-animation-name: facebook;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear; 
}

#block_1 {
    -webkit-animation-delay: .3s;
}

#block_2 {
    -webkit-animation-delay: .4s;
}

#block_3 {
    -webkit-animation-delay: .5s;
}

@-webkit-keyframes facebook{
    0%{-webkit-transform: scale(1.2);opacity:1;}
    100%{-webkit-transform: scale(0.7);opacity:0.1;}
}
/*./widget-js/css-spinner*/

/*widget-bottom-panel*/
.widget-wrapper.widget-bottom-panel {
    padding-top: 15px;
    height: 10px;
}

.widget-wrapper.widget-bottom-panel .item-wrapper .media-left {
    min-width: 48px;
}

.widget-wrapper.widget-bottom-panel .item-wrapper .media-body {
    min-height: 48px;
    padding-left: 5px;
}

.widget-wrapper.widget-bottom-panel .item-wrapper.one-lined .media-body {
    line-height: 19px;
    padding-top: 5px;
}

.widget-wrapper.widget-bottom-panel .item-wrapper {
    width: 11%;
    float: left;
}

.widget-wrapper.widget-bottom-panel .item-wrapper.media {
    margin-top: 0;
}

.widget-wrapper.widget-bottom-panel .item-wrapper p {
    font-size: 0.65em;
    margin-top: 10px;
    color: gray;
}

.widget-wrapper.widget-bottom-panel .item-wrapper p {
    font-size: 0.65em;
    margin-top: 10px;
    color: gray;
}

.widget-wrapper.widget-bottom-panel .item-wrapper:hover p,
.widget-wrapper.widget-bottom-panel .item-wrapper.active p {
    color: #337ab7;
}

.widget-wrapper.widget-bottom-panel .item-wrapper:hover a {
    text-decoration: none;
}

.widget-wrapper.widget-bottom-panel .item-wrapper.count-requests-total 
.media-left {
    background-image: url(../img/widget-bottom-panel/count-requests-total-GRAY.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.count-requests-total 
a:hover .media-left,
.widget-wrapper.widget-bottom-panel .item-wrapper.count-requests-total.active 
.media-left {
    background-image: url(../img/widget-bottom-panel/count-requests-total-COLORED.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.count-requests-internal 
.media-left {
    background-image: url(../img/widget-bottom-panel/count-requests-internal-GRAY.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.count-requests-internal 
a:hover .media-left,
.widget-wrapper.widget-bottom-panel .item-wrapper.count-requests-internal.active
.media-left {
    background-image: url(../img/widget-bottom-panel/count-requests-internal-COLORED.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.query-processing-time 
.media-left {
    background-image: url(../img/widget-bottom-panel/query-processing-time-GRAY.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.query-processing-time 
a:hover .media-left,
.widget-wrapper.widget-bottom-panel .item-wrapper.query-processing-time.active 
.media-left {
    background-image: url(../img/widget-bottom-panel/query-processing-time-COLORED.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.count-answers-no-data 
.media-left {
    background-image: url(../img/widget-bottom-panel/count-answers-no-data-GRAY.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.count-answers-no-data 
a:hover .media-left,
.widget-wrapper.widget-bottom-panel .item-wrapper.count-answers-no-data.active 
.media-left {
    background-image: url(../img/widget-bottom-panel/count-answers-no-data-COLORED.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.query-statuses 
.media-left {
    background-image: url(../img/widget-bottom-panel/query-statuses-GRAY.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.query-statuses 
a:hover .media-left,
.widget-wrapper.widget-bottom-panel .item-wrapper.query-statuses.active 
.media-left {
    background-image: url(../img/widget-bottom-panel/query-statuses-COLORED.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.queries 
.media-left {
    background-image: url(../img/widget-bottom-panel/queries-GRAY.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.queries 
a:hover .media-left,
.widget-wrapper.widget-bottom-panel .item-wrapper.queries.active 
.media-left {
    background-image: url(../img/widget-bottom-panel/queries-COLORED.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.send-request 
.media-left {
    background-image: url(../img/widget-bottom-panel/sending-requests-GRAY.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.send-request 
a:hover .media-left,
.widget-wrapper.widget-bottom-panel .item-wrapper.send-request.active 
.media-left {
    background-image: url(../img/widget-bottom-panel/sending-requests-COLORED.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.error-source 
.media-left {
    background-image: url(../img/widget-bottom-panel/error-source-GRAY.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.error-source 
a:hover .media-left,
.widget-wrapper.widget-bottom-panel .item-wrapper.error-source.active 
.media-left {
    background-image: url(../img/widget-bottom-panel/error-source-COLORED.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.control-panel 
.media-left {
    background-image: url(../img/widget-bottom-panel/control-panel-GRAY.png);
    background-repeat: no-repeat;  
}

.widget-wrapper.widget-bottom-panel .item-wrapper.control-panel 
a:hover .media-left,
.widget-wrapper.widget-bottom-panel .item-wrapper.control-panel.active 
.media-left {
    background-image: url(../img/widget-bottom-panel/control-panel-COLORED.png);
    background-repeat: no-repeat;  
}

@media only screen and (min-width: 1270px) and (max-width: 1349px) {
    .widget-wrapper.widget-bottom-panel .item-wrapper p {
        font-size: 0.50em;
    }
}

@media only screen and (min-width: 1350px) and (max-width: 1429px) {
    .widget-wrapper.widget-bottom-panel .item-wrapper p {
        font-size: 0.55em;
    }
}

@media only screen and (min-width: 1430px) and (max-width: 1529px) {
    .widget-wrapper.widget-bottom-panel .item-wrapper p {
        font-size: 0.60em;
    }
}

@media only screen and (min-width: 1530px) and (max-width: 1589px) {

}

@media only screen and (min-width: 1590px) and (max-width: 1669px) {

}

@media only screen and (min-width: 1670px) and (max-width: 1909px) {

}

@media only screen and (min-width: 2550px) and (max-width: 3829px) {

}

@media only screen and (min-width: 3830px) {

}
/*./widget-bottom-panel*/

@media print {
    .widget-wrapper.widget-common.widget-common-form input.settings-submit,
    .widget-wrapper.widget-common .widget-footer input.settings-update-submit,
    .widget-wrapper.widget-bottom-panel {
        display: none;
    }

    .widget-wrapper.widget-common {
        margin-bottom: 120px;
    }

    .widget-wrapper.widget-common .widget-footer .form-group {
        text-align: left !important;
    }

    .widget-wrapper.widget-common .widget-footer span {
        top: 5px;
        left: -44px;
    }
}
/*./CONTENT~DASHBOARD*/
/*./CONTENT-ALL*/

/*MISC*/
/*toggle-bg*/
.toggle-wrapper {
    margin-top: 0px;
    position: relative;
    left: 10px;
}

.toggle-wrapper:before {
    content: "БД";
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    top: 2px;
    left: -45px;
}

.toggle-wrapper:after {
    content: "ЛОГ";
    display: inline-block;
    position: relative;
    font-size: 0.9em;
    top: 2px;
    left: 36px;
}

.toggle-bg {
    background: #fff;
        
     -khtml-border-radius: 30px;
       -moz-border-radius: 30px;
        -ms-border-radius: 30px;
         -o-border-radius: 30px;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    
    -khtml-box-shadow: 0 1px 0 #fff, inset 0 0 2px #3f4c6b, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
       -moz-box-shadow: 0 1px 0 #fff, inset 0 0 2px #3f4c6b, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
        -ms-box-shadow: 0 1px 0 #fff, inset 0 0 2px #3f4c6b, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
         -o-box-shadow: 0 1px 0 #fff, inset 0 0 2px #3f4c6b, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 0 2px #d7dee3, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
            box-shadow: 0 1px 0 #fff, inset 0 0 2px #d7dee3, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
    
    display: block; /* ...So that we can set a height and width */
    float: left; /* ...So that it doesn't take up the full width of the page */
    height: 30px; /* You can change this later if you want */
    position: relative; /* Required to allow the switch to move around */
    width: 70px; /* This can be changed later as well */
    left: 50px;
    top: 19px;
}

.toggle-bg input {
    height: 30px;
    left: 0;
    margin: 0; /* Reset the margins and padding */
    opacity: 0; /* Invisible! */
    padding: 0;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: 2; /* We want the input to be over the span.switch, which we'll give a z-index of 1 */
        /*IE*/
        zoom: 1;
        filter: alpha(opacity=0);
}

.switch {
    background: #BED7F9;
    background: #BED7F9;

     -khtml-border-radius: 20px;
       -moz-border-radius: 20px;
        -ms-border-radius: 20px;
         -o-border-radius: 20px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    
    
     -khtml-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
       -moz-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
        -ms-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
         -o-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
    -webkit-box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
            box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2;
    
    display: block;
    float: left;
    height: 20px;
    left: 5px; /* This is the starting point. When adding a border radius, a small bit of the background is shown if we use left: 0;, so -1px is best.*/
    position: relative;
    top: 5px; /* ...To keep it centered vertically */
    
     -khtml-transition: left .2s ease;
       -moz-transition: left .2s ease;
        -ms-transition: left .2s ease;
         -o-transition: left .2s ease;
    -webkit-transition: left .2s ease;
            transition: left .2s ease;
    
    width: 20px;
    z-index: 1; /* Remember, it must be below the invisible inputs */
}

.toggle-bg input:checked~.switch {
    left: 5px; top: 5px;
} /* initial toggle position */

.toggle-bg input~:checked~.switch {
    left: 46px; top: 5px;
} /* final relative toggle position */

.toggle-bg input:checked {
    z-index: 0;
} /*toggle-bg*/

/*modal-common*/
a.modal-toggle {
    cursor: pointer;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 70%;
        margin: 65px auto;
    }
}
/*./modal-common*/

/*modal-body*/
.modal-body .widget-wrapper {
    height: 650px;
}

.modal-body .widget-wrapper.widget-common .data-wrapper {
    margin-top: 50px;
    height: 600px;
}

.modal-body .widget-wrapper p {
    font-size: 1.3em;
    line-height: 1.4em;
}

.modal-body .widget-wrapper .form-group span {
    font-size: 1.3em;
    line-height: 1.4em;
}

.modal-body .widget-wrapper .form-group input {
    font-size: 1.2em;
    height: 30px;
    margin-left: 20px;
}

.modal-body .widget-wrapper .widget-footer input[type='submit'] {
    background-position: 0px 6px;
}
/*./modal-body*/

/*tricks*/
.trick-float-left {
    float: left;
}

.trick-float-right {
    float: right;
}

.trick-clear-both {
    clear: both;
}

.padding-l-0 {
    padding-left: 0;
}

.padding-r-0 {
    padding-right: 0;
}

.padding-l-10 {
    padding-left: 10px;
}

.padding-r-10 {
    padding-right: 10px;
}
/*./tricks*/

button:focus, input[type='submit'] {
    outline: none;
} 
/*./MISC*/
/*****************************/